@import 'assets/css/colors.css';
.App {
  text-align: center;
}
body {
  background-color: var(--white);
}

button:focus {
  outline: 0;
}

.form-label-container {
  margin-bottom: 24px;
}

.form-label {
  font-size: 13px;
  color: var(--formLabel);
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 11px;
  text-align: left;
}

.input-value {
  font-weight: 600;
  color: var(--value);
  font-size: 14px;
}

.custom-title {
  color: var(--grey3);
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 600;
}

.custom-btn {
  padding: 6px 12px;
  border-radius: 2px;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.custom-btn:disabled {
  color: var(--black);
  opacity: 0.5;
  background: var(--grey5);
  border-color: var(--grey4);
  cursor: not-allowed;
}

.btn1 {
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn2 {
  border: 1px solid var(--grey4);
  background-color: var(--white);
  color: var(--black);
}

.btn3 {
  border: 1px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
}
